USE [master]
GO
/****** Object:  Database [PADOCA]    Script Date: 29/11/2017 17:47:31 ******/
CREATE DATABASE [PADOCA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PADOCA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PADOCA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PADOCA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PADOCA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PADOCA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PADOCA]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 29/11/2017 17:47:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[codigo_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[cpf] [varchar](14) NOT NULL,
	[data_nasc] [datetime] NOT NULL,
	[fone] [varchar](25) NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[codigo_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FUNCIONARIO]    Script Date: 29/11/2017 17:47:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FUNCIONARIO](
	[codigo_funcionario] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[cpf] [varchar](14) NOT NULL,
	[salario] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_FUNCIONARIO] PRIMARY KEY CLUSTERED 
(
	[codigo_funcionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GERENTE]    Script Date: 29/11/2017 17:47:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GERENTE](
	[codigo_gerente] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[cpf] [varchar](14) NOT NULL,
	[salario] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_GERENTE] PRIMARY KEY CLUSTERED 
(
	[codigo_gerente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ITEM_VENDA]    Script Date: 29/11/2017 17:47:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_VENDA](
	[venda] [int] NOT NULL,
	[nritem] [int] NULL,
	[produto] [int] NULL,
	[qtde] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 29/11/2017 17:47:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[codigo_produto] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](50) NOT NULL,
	[preco] [decimal](4, 2) NOT NULL,
	[qtde] [int] NOT NULL,
 CONSTRAINT [PK_PRODUTO] PRIMARY KEY CLUSTERED 
(
	[codigo_produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 29/11/2017 17:47:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[CODIGO] [nchar](10) NOT NULL,
	[USUARIO] [nchar](10) NULL,
	[SENHA] [nchar](10) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VENDA]    Script Date: 29/11/2017 17:47:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDA](
	[codigo_venda] [int] IDENTITY(1,1) NOT NULL,
	[funcionario] [int] NOT NULL,
	[cliente] [int] NOT NULL,
	[data_venda] [datetime] NOT NULL,
	[valortotal] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_VENDA] PRIMARY KEY CLUSTERED 
(
	[codigo_venda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([codigo_cliente], [nome], [cpf], [data_nasc], [fone]) VALUES (1, N'PEDRO', N'324.825.818-77', CAST(N'1988-12-10 00:00:00.000' AS DateTime), N'(14)99646-5820')
INSERT [dbo].[CLIENTE] ([codigo_cliente], [nome], [cpf], [data_nasc], [fone]) VALUES (2, N'JOSE', N'555.555.555-55', CAST(N'1988-10-12 00:00:00.000' AS DateTime), N'1111111111111')
INSERT [dbo].[CLIENTE] ([codigo_cliente], [nome], [cpf], [data_nasc], [fone]) VALUES (3, N'PAULO', N'666.666.666-66', CAST(N'1988-10-12 00:00:00.000' AS DateTime), N'22222222')
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
SET IDENTITY_INSERT [dbo].[FUNCIONARIO] ON 

INSERT [dbo].[FUNCIONARIO] ([codigo_funcionario], [nome], [cpf], [salario]) VALUES (1, N'ADMIN', N'111111111', CAST(0.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[FUNCIONARIO] OFF
SET IDENTITY_INSERT [dbo].[GERENTE] ON 

INSERT [dbo].[GERENTE] ([codigo_gerente], [nome], [cpf], [salario]) VALUES (10, N'GERENTE1', N'999.999.999-99', CAST(0.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[GERENTE] OFF
INSERT [dbo].[ITEM_VENDA] ([venda], [nritem], [produto], [qtde]) VALUES (1, 1, 1, 1)
INSERT [dbo].[ITEM_VENDA] ([venda], [nritem], [produto], [qtde]) VALUES (2, 1, 2, 10)
INSERT [dbo].[ITEM_VENDA] ([venda], [nritem], [produto], [qtde]) VALUES (3, 1, 3, 2)
SET IDENTITY_INSERT [dbo].[PRODUTO] ON 

INSERT [dbo].[PRODUTO] ([codigo_produto], [descricao], [preco], [qtde]) VALUES (1, N'LEITE INTEGRAL', CAST(3.00 AS Decimal(4, 2)), 100)
INSERT [dbo].[PRODUTO] ([codigo_produto], [descricao], [preco], [qtde]) VALUES (2, N'PAO FRANCES UNID', CAST(1.00 AS Decimal(4, 2)), 500)
INSERT [dbo].[PRODUTO] ([codigo_produto], [descricao], [preco], [qtde]) VALUES (3, N'MARGARINA 250G', CAST(4.00 AS Decimal(4, 2)), 100)
SET IDENTITY_INSERT [dbo].[PRODUTO] OFF
INSERT [dbo].[USUARIO] ([CODIGO], [USUARIO], [SENHA]) VALUES (N'1         ', N'admin     ', N'admin     ')
SET IDENTITY_INSERT [dbo].[VENDA] ON 

INSERT [dbo].[VENDA] ([codigo_venda], [funcionario], [cliente], [data_venda], [valortotal]) VALUES (1, 1, 4, CAST(N'2017-11-29 16:49:42.090' AS DateTime), CAST(3.00 AS Decimal(4, 2)))
INSERT [dbo].[VENDA] ([codigo_venda], [funcionario], [cliente], [data_venda], [valortotal]) VALUES (2, 1, 5, CAST(N'2017-11-29 16:50:48.020' AS DateTime), CAST(10.00 AS Decimal(4, 2)))
INSERT [dbo].[VENDA] ([codigo_venda], [funcionario], [cliente], [data_venda], [valortotal]) VALUES (3, 1, 6, CAST(N'2017-11-29 16:58:41.300' AS DateTime), CAST(18.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[VENDA] OFF
ALTER TABLE [dbo].[ITEM_VENDA]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_VENDA_PRODUTO] FOREIGN KEY([produto])
REFERENCES [dbo].[PRODUTO] ([codigo_produto])
GO
ALTER TABLE [dbo].[ITEM_VENDA] CHECK CONSTRAINT [FK_ITEM_VENDA_PRODUTO]
GO
ALTER TABLE [dbo].[ITEM_VENDA]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_VENDA_VENDA] FOREIGN KEY([venda])
REFERENCES [dbo].[VENDA] ([codigo_venda])
GO
ALTER TABLE [dbo].[ITEM_VENDA] CHECK CONSTRAINT [FK_ITEM_VENDA_VENDA]
GO
ALTER TABLE [dbo].[VENDA]  WITH CHECK ADD  CONSTRAINT [FK_VENDA_CLIENTE] FOREIGN KEY([cliente])
REFERENCES [dbo].[CLIENTE] ([codigo_cliente])
GO
ALTER TABLE [dbo].[VENDA] CHECK CONSTRAINT [FK_VENDA_CLIENTE]
GO
ALTER TABLE [dbo].[VENDA]  WITH CHECK ADD  CONSTRAINT [FK_VENDA_FUNCIONARIO] FOREIGN KEY([funcionario])
REFERENCES [dbo].[FUNCIONARIO] ([codigo_funcionario])
GO
ALTER TABLE [dbo].[VENDA] CHECK CONSTRAINT [FK_VENDA_FUNCIONARIO]
GO
USE [master]
GO
